app-navbar{
    background-color:#393E46;
    display: block;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 99999;
}

p-toast{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}