/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

body {
  margin: 0;
  font-family: 'Segoe UI';
  background-color: #222831; /* Light grey background */
  color: #EEEEEE;
}